footer {
    padding: 0px;
    text-align: left;
    font-size: 12px;
    color: #AAAAAA;
    left: 22px;
}

#myFooter {
    /* תחתית הדף */
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 990;
}

#textFooter:hover{
    color: #ffff05;
}