header {
    background-color: #162eff;
    color: #ffffff;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
}

header #bsd {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    top: 0px;

    padding: 0px;
    position: fixed;
}

#titleHeader {
    margin: 0;
    font-size: 36px;
    line-height: 2;
    font-weight: 590;
    text-align: center;

}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    font-weight: 600;
    color: #d4ff00;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    margin-bottom: 10px;
}

header ul li a {
    color: #4A90E2;
    text-decoration: none;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #333333;
}

#notificationHeader {
    position: fixed;
    top: 2px;
    left: 15%;
    width: 70%;
    text-align: center;
    font-size: 18pt;
    background-color: #f4f477;
    padding: 2px;
    color: #162eff;
    border-radius: 10px;
    z-index: 898;
    white-space: nowrap;
  }

#notificationHeaderText {
    white-space: nowrap;
    animation: scrollText 18s linear infinite;
}

  @keyframes scrollText {
    0% {
      transform: translateX(-15%); /* Start position from the right */
    }
    100% {
      transform: translateX(30%); /* End position to the left */
    }
  }



/* Styles for the yellow ribbon */
.ribbon {
    position: fixed;
    top: 250px;
    left: -30pt;
    width: 400px;
    text-align: center;
    font-size: 24pt;
    background-color: yellow;
    padding: 10px;
    color: black;
    font-weight: bold;
    transform: rotate(-45deg); /* Rotate the ribbon by -45 degrees */
    transform-origin: 0 0; /* Set the rotation origin to the top left corner */
    z-index: 899; /* Ensure the ribbon is on top of other elements */
  }