#extini_editor_textarea {
    background-color: rgb(227 238 239);
    font-family: Rubik, sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    width: 650px;
    height: 400px;
    max-height: 400px;
    max-width: 650px;
    min-height: 400px;
    min-width: 650px;
    border: 2px solid #162eff;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-left: 8px;
    margin-top: 8px;
}

#advancedOptions {
    padding: 20px;
    padding-top: 0px;
}

#autocomplete-list {
    display: none;
    position: absolute;
    background-color: #f7f5ff;
    border: 1px solid #162eff;
    border-radius: 8px;
    width: 100%;
    max-height: 180px;
    max-width: 420px;
    overflow-y: auto;
}


#autocomplete-list button {
    font-family: Rubik, sans-serif;
    background-color: #f7f5ff;
    color: #000000;
    font-size: 14pt;
    width: 100%;
    text-align: left;
    font-weight: 400;
    margin: 0;
    padding: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0.2px solid #ffffff;
    border-radius: 0px;
    cursor: pointer;
}

#autocomplete-list button:hover {
    color: #162eff;
    font-weight: 500;
}